.form-landing-header {
    margin-top: 3%;
  }
  .select-border-align {
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .charts-align {
    width: 100%;
    height: 400px;
    display: block;
  }
  