.form-landing-header {
  margin-top: 3%;
}
.form-landing-select {
  border-top: none;
  border-left: none;
  border-right: none;
}
.div-remove-padding {
  padding-left: 0%;
  padding-right: 0%;
}
.text-center {
  text-align: center;
}
.button-submit {
  display: inline-block;
  text-align: center;
  background-color: orangered;
  border-color: orangered;
}
