.div-margin-top {
    margin-top: 5%;
  }
  .well-text-record {
    overflow-y: auto;
    background-color: white;
    min-height: 585px;
    position: relative;
  }
  .well {
    min-height: 550px;
    max-height: 550px;
  }
  .span-latest-text {
    font-weight: 500;
    font-size: 1.5em;
  }
  .div-water-align {
    cursor: pointer;
    margin-top: 3%;
  }
  .div-date-align {
    color: black;
    text-align: left;
    padding: 2% 2% 2% 2%;
    font-weight: 400;
    font-size: 1em;
  }
  .glyphicon-font-align {
    font-size: 1.5em;
  }
  .span-qty-align {
    color: black;
    display: inline-block;
    font-size: 1em;
  }
  .span-time-align {
    color: black;
    display: inline-block;
    font-size: 1em;
  }
  