#calib-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 2;
  }
  .div-remove-padding {
    padding-left: 0px;
    padding-right: 0px;
  }
  .div-padding-left {
    padding-left: 0px;
  }
  .div-image {
    width: 90%;
    display: inline-block;
  }
  