.panel-heading {
  background-color: steelblue;
}
.div-recipe-align {
  background-color: white;
  border: none;
  box-shadow: none;
}
.span-subtitle-align {
  color: crimson;
  font-weight: 700;
  font-size: 16px;
}
.well-recipe-align {
  background-color: white;
  border: none;
  box-shadow: none;
  position: relative;
}
.image-full-width {
  width: 100%;
}
.p-text-align {
  text-align: justify;
}
.li-text-align {
  text-align: left;
}
.panel-heading-align{
  font-size: 1.2em;
}
